node_modules/
dist/
unpackage/
.hbuilderx/
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local
.env
.env.local
*.local

# OS
.DS_Store
Thumbs.db